In [1]:
import os, sys
sys.path.insert(0, os.path.abspath(".."))

In [2]:
import pandas as pd

private_df = pd.read_csv("../data/raw/private_dataset.csv")
aux_df = pd.read_csv("../data/raw/auxiliary_dataset.csv")

print("Private:", private_df.shape)
print("Aux:", aux_df.shape)
private_df.head()

Private: (1000, 5)
Aux: (600, 3)

   record_id  age  zipcode occupation       disease
0          0   56    27514      Nurse           NaN
1          1   69    27514      Nurse           NaN
2          2   46    27284    Teacher      Diabetes
3          3   32    27707   Engineer  Hypertension
4          4   60    27606    Teacher        Cancer

In [3]:
from src.attacks.reidentification import linkage_attack

results = linkage_attack(private_df, aux_df)
results

{'matched_aux_records': 600,
 'total_aux_records': 600,
 'aux_match_rate': 1.0,
 'unique_private_records_reidentified': 743,
 'avg_private_matches_per_aux': 1.785}

In [4]:
print(f"Matched auxiliary records: {results['matched_aux_records']} / {results['total_aux_records']}")
print(f"Match rate: {results['aux_match_rate']:.2%}")
print(f"Unique private records linked: {results['unique_private_records_reidentified']}")
print(f"Average private matches per aux record: {results['avg_private_matches_per_aux']:.2f}")

Matched auxiliary records: 600 / 600
Match rate: 100.00%
Unique private records linked: 743
Average private matches per aux record: 1.78